%form{:method => "post", :action => "/cheques"}
	%table
		%tr
			%td Server Id
			%td 
				%input{:type => "text", :name => "server_id"}
		%tr
			%td Cheque Amount
			%td 
				%input{:type => "text", :name => "cheque_amount"}
		%tr
			%td Valid From
			%td 
				%input{:type => "text", :name => "valid_from"}
		%tr
			%td Valid To
			%td 
				%input{:type => "text", :name => "valid_to"}
		%tr
			%td Sender Account Id
			%td 
				%input{:type => "text", :name => "sender_account_id"}
		%tr
			%td Sender User Id
			%td 
				%input{:type => "text", :name => "sender_user_id"}
		%tr
			%td Cheque Memo
			%td 
				%input{:type => "text", :name => "cheque_memo"}
		%tr
			%td Recipient User Id
			%td 
				%input{:type => "text", :name => "recipient_user_id"}
	%input{:type => "submit", :value => "Write Cheque"}
		
		